<ng-container *ngIf="state.loading">Hi! Loading guild listings from Reddit...</ng-container>


<ng-container *ngIf="!state.loading">
  <div class="container">
    <input class="form-control" type="text" placeholder="Filter by Realm" [(ngModel)]="realmFilter"
      (ngModelChange)="runFilter()">

    <select class="form-select" [(ngModel)]="factionFilterVal" (change)="runFilter()">
      <option *ngFor="let f of factions" [value]="f.value">
        {{ f.name }}
      </option>
    </select>

    <select class="form-select" aria-label="Select Realm type" [(ngModel)]="typeFilter" (change)="runFilter()">
      <option value="any" selected>Any Realm Type</option>
      <option value="pvp">PvP</option>
      <option value="pve">PvE / Normal</option>
      <option value="rppvp">RP-PvP</option>
    </select>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Raid Days</span>
      <a class="btn" (click)="toggleRaidDay('Monday')" [class.btn-primary]="hasSelectedDay('Monday')">Mon</a>
      <a class="btn" (click)="toggleRaidDay('Tuesday')" [class.btn-primary]="hasSelectedDay('Tuesday')">Tue</a>
      <a class="btn" (click)="toggleRaidDay('Wednesday')" [class.btn-primary]="hasSelectedDay('Wednesday')">Wed</a>
      <a class="btn" (click)="toggleRaidDay('Thursday')" [class.btn-primary]="hasSelectedDay('Thursday')">Thu</a>
      <a class="btn" (click)="toggleRaidDay('Friday')" [class.btn-primary]="hasSelectedDay('Friday')">Fri</a>
      <a class="btn" (click)="toggleRaidDay('Saturday')" [class.btn-primary]="hasSelectedDay('Saturday')">Sat</a>
      <a class="btn" (click)="toggleRaidDay('Sunday')" [class.btn-primary]="hasSelectedDay('Sunday')">Sun</a>
    </div>

    <label for="customRange1" class="form-label">Raid Start Time: {{ parseTime(startTime) }} </label>
    <input type="range" class="form-range" id="customRange1" min="0" max="2300" step="50" #startTimeEle
      (input)="startTime = startTimeEle.value" value="0" (change)="runFilter()">

    <br />
    <label for="customRange2" class="form-label">Raid End Time: {{ parseTime(endTime) }} </label>
    <input type="range" class="form-range" id="customRange2" min="0" max="2350" step="50" #endTimeEle
      (input)="endTime = endTimeEle.value" value="2350" (change)="runFilter()">

    <br /><br />

    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Global easy filter"
      (ngModelChange)="runFilter()">
    <span style="font-size: 8pt;">Note: This scans the entire comment-text for a match. It may match some text in the
      additional information, not seen until you expand a row below.</span>

    <br /><br />
    <!-- <a href="/players">Search for players instead...</a> <br /> -->
    <hr>
    <b>Results:</b> {{ filteredGuilds.length }}


    <ul class="list-group">
      <li class="list-group-item" *ngFor="let guild of filteredGuilds">

        <div class="row">
          <div class="col">
            <a href="https://www.reddit.com{{guild.link}}" target="_blank">{{ guild.name | unescape:'recursive'}}</a>
          </div>
          <div *ngIf="guild.error" style="font-size: 9pt;">
            Unable to parse guild listing: {{ guild.error }}
          </div>
          <div class="col-1" *ngIf="!guild.error" [class.alli-blue]="guild.faction === 'alliance'"
            [class.horde-red]="guild.faction === 'horde'">
            {{guild.faction[0] | uppercase}}
          </div>

          <div class="col-1" *ngIf="!guild.error">
            {{ guild.realmType }}
          </div>
          <div class="col" *ngIf="!guild.error">
            {{ guild.realm | slice:0:20 }} -{{ guild.realmTZ }}
          </div>
          <div class="col" *ngIf="!guild.error" style="font-size: 9pt;">
            <ng-container *ngIf="guild.raidAvailability.days.length < 7">
              <span *ngFor="let d of guild.raidAvailability.days">{{ Day[d] | slice:0:2 }} </span>
            </ng-container>
            <ng-container *ngIf="guild.raidAvailability.days.length === 7 || guild.raidAvailability.days.length === 0">
              Raid days unknown/TBD
            </ng-container>
          </div>
          <div class="col" *ngIf="!guild.error" style="font-size: 9pt;">
            <ng-container *ngIf="guild.raidAvailability.times.length > 0 && !guild.raidAvailability.times[0].defaulted">
              <span *ngFor="let time of guild.raidAvailability.times">
                {{parseTime(time.start)}} - {{parseTime(time.end)}}
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row" *ngIf="guild.expanded">
          {{ guild.additionalInfo }}
        </div>
      </li>
    </ul>

  </div>
</ng-container>